{% extends 'base.html' %}

{% block appcontent %}
  {% if feature %}
  <h1>Feature</h1>
    <p><b>Title:</b> {{feature.title}}</p>
    <p><b>Description:</b> {{feature.description}}</p>
    <p><b>Client:</b> {{feature.client}}</p>
    <p><b>Client Priority:</b> {{feature.client_priority}}</p>
    <p><b>Target Date:</b> {{feature.target_date.date()}}</p>
    <p><b>Product Areas:</b> {{feature.product_areas}}</p>
  {% endif %}

  {% if client %}
  <h1>Client</h1>
    <p><b>Name:</b> {{client.name}}</p>
    <p><b>Location:</b> {{client.location}}</p>
  {% endif %}
{% endblock %}
